<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ seo_title ?? title ?? site:name }}</title>
        <meta name="description" content="{{ seo_description ?? global:seo_description ?? global:tagline ?? '' }}">
        <meta property="og:title" content="{{ seo_title ?? title ?? site:name }}">
        <meta property="og:site_name" content="{{ site_name ?? config:app:name }}">
        <meta property="og:type" content="website">
        <meta property="og:image" content="{{ share_image ?? video_poster ?? global:share_image }}">
        <meta property="og:locale" content="{{ site:locale }}">
        <meta property="og:description" content="{{ seo_description ?? global:seo_description ?? global:tagline ?? '' }}">
        <link rel="sitemap" href="/sitemap.xml" type="application/xml">
        <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="/feed.xml">
        {{ vite src="resources/js/site.js|resources/css/site.css" }}
        {{ cache for="12 hour" }}
        <script>
            const background_images = [
                {{ assets container="s3" folder="backgrounds" sort="random" }}
                "{{ permalink }}",
                {{ /assets }}
            ];
            // Set random bg
            document.querySelector(':root').style.setProperty("--backgroundImage", `url("${background_images[Math.floor(Math.random() * background_images.length)]}"`);
        </script>
        {{ /cache }}
    </head>
    <body class="{{ body_class }}">
        {{ partial:nav }}
        <main class="wrapper">
            {{ template_content }}
        </main>
        {{ partial:footer }}
    </body>
</html>
