{{ paginate }}
    {{ if prev_page || next_page }}
        <div class="flex flex-row justify-between">
            <div class="previous flex-1 text-right">
            {{ if prev_page }}
            <a rel="prev" class="button" href="{{ prev_page }}">
                &larr; Prev
            </a>
            {{ /if }}
            </div>
            <div class="center flex-auto text-center">
                <a href="/posts/archive" class="tag">Archive</a>
            </div>
            <div class="next flex-1">
                {{ if next_page }}
                <a rel="next" class="button" href="{{ next_page }}">
                    Next &rarr;
                </a>
                {{ /if }}
            </div>
        </div>
    {{ /if }}
{{ /paginate }}
