<div class="card">
    {{ partial src="post_types/{blueprint}" }}
    <div class="card__details">
        {{ if !single }}
            <h3><a href="{{ url }}">{{ title }}</a></h3>
        {{ /if }}

        {{ if caption }}
        <div class="caption">
            {{ caption }}
        </div>
        {{ /if }}

        <div class="card__meta mt-3">
            {{ if tags }}
            <div class="tags">
                {{ tags }}
                    <a class="tag" href="/posts/archive?tag[]={{ slug }}"><span>#</span>{{ title }}</a>
                {{ /tags }}
            </div>
            {{ /if }}
        </div>

        {{ if single }}
        <ul role="list" class="flex flex-row justify-between mt-4 gap-4">
            <li>
                Posted <span class="whitespace-nowrap">{{ date format="M j Y" }}</span>
            </li>
            <li class="text-right text-balance">
                <a href="mailto:nate@clixel.com?subject=Feedback for reel: {{ title }}">Email Nate about this reel</a>
            </li>
        </ul>
        {{ /if }}
    </div>
</div>
