:root {
	--bg: rgba(251,243,205,0.75);
	--text: #222;
	--cardBg: #fff;
	--links: #0F80FF;
	--sans-serif: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
	--tagBg: rgba(15, 128, 255, 0.5);
	--tabText: #fff;
	--tagBorder: rgba(15, 128, 255, 0.75);
}
/* dark mode */
@media (prefers-color-scheme: dark) {
  :root {
  	--bg: rgba(12,18,2,0.85);
  	--text: #fff;
  	--cardBg: #333;
  }
  html {
/*  	background: #000;*/
/*  		background-blend-mode: multiply;*/
  }
}
