/*@import "tailwindcss/base";*/
/*@import "tailwindcss/components";*/
@import "tailwindcss/utilities";

@import "globals/reset.css";
@import "globals/variables.css";
@import "globals/forms.css";

body {
	background-color: var(--bg);
	background-image: linear-gradient(var(--bg), var(--bg)), var(--backgroundImage);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;

	margin: 0;
	padding: 20px 10px;
	color: var(--text);
	font-family: var(--sans-serif);
}
/* Desktop styles */
@media (min-width: 500px) {
	body {
		padding: 20px;
	}
}

h1 {
	font: 900 34px/1.2 var(--sans-serif);
}
h2 {
	font: 800 24px/1.2 var(--sans-serif);
}
a {
	color: var(--links);
	&.quiet {
		color: var(--text);
		opacity: 0.35;
	}
}

/* Utility */
.aspect-video {
	aspect-ratio: 4 / 3;
}
ul.inline {
	li {
		display: inline-block;
	}
}

/* Nav */
nav {
  ul {
    display: flex;
    li.logo,
    li.credit,
    li.tagline {
      flex: 1;
    }
    li.logo {
    	text-align: left;
    	a {
    		display: inline-block;
    		vertical-align: middle;
    		padding-right: 1rem;
    	}
    	img {
    		max-height: 35px;
    	}
    }
    li.tagline {
    	font: 900 14px/1.2 var(--sans-serif);
    	a {
    		display: inline-block;
    		border: 1px solid var(--text);
    		padding: 0.5rem 1rem;
    		border-radius: 0.5rem;
    		text-decoration: none;
    	}
    }
  }
}
header {
	text-align: center;
	margin: 0 0 2rem;
}
footer {
	margin: 8rem 0 2rem;
	li {
		padding: 10px;
	}
}

.wrapper {
  margin-inline: auto;
/*  padding-inline: 1rem;*/
  max-width: 60rem;
}

.flow > * + * {
  margin-top: var(--flow-space, 1em);
}
/* Desktop styles */
@media (min-width: 500px) {
	:root {
		--flow-space: 2rem;
	}
}

.card {
	max-width: 500px;
	margin-inline: auto;
	background: var(--cardBg);
	border-radius: 0.5rem;
  --tw-shadow: 0 15px 18px -36px rgba(0, 0, 0, .5), 0 6px 40px 1px rgba(0, 0, 0, .11);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  transition: box-shadow 0.5s;
}
.card:hover {
	--tw-shadow: 0 25px 28px -26px rgba(0, 0, 0, .5), 0 16px 50px 1px rgba(0, 0, 0, .11);
}
.card__details {
	padding: 0 1rem 1rem;
}
.card__meta {
	padding: 1rem 0 0;
}
.caption p {
	margin: 0.5rem 0 0;
}
.card__posted {
	text-align: right;
	font-size: 0.8rem;
}

/* Video embeds */
iframe,
video {
	width: 100%;
	height: auto;
	border-radius: 0.35rem 0.35rem 0 0;
	border: none;
}


/* Tags, buttons */
button,
.button,
.tag {
	cursor: pointer;
	font-size: 1rem;
	line-height: 1;
	padding: 0.5rem 1rem;
	background: var(--tagBg);
	color: var(--tagText);
	border-radius: 0.5rem;
	transition: border 0.15s;
	border: 1px solid rgba(0,0,0,0);
	text-decoration: none;
	display: inline-block;
	margin-block-end: 0.25rem;
	&:hover {
		border: 1px solid var(--tagBorder);
	}
}

/* Thumbnail view */
.thumbnails {
	width: 100%;
	--gap: 20px;
	display: inline-flex;
	flex-flow: row wrap;
	gap: var(--gap);
}
.thumbnail {
	flex: 0 1 calc(50% - 1*var(--gap)/2);
	img {
		transition: filter 0.25s ease-in-out;
		display: block;
		aspect-ratio: 4/3;
		object-fit: cover;
		border-radius: 0.5rem;
		margin-bottom: 1rem;
	}
	&:hover {
		img {
			filter: brightness(1.12);
			outline: 1px solid var(--tagBorder);
		}
	}
}

/* Desktop styles */
@media (min-width: 500px) {
	.thumbnail {
		flex: 0 1 calc(20% - 4*var(--gap)/5);
	}
}

/* Email nate link */
.feedback {
	opacity: 0.5;
	margin-top: 1rem;
}

.related-posts {
	margin: 4rem 0 0;
	h3 {
		margin: 0 0 1rem;
	}
}
